.form-holder{
    padding: 0px;
    border: none;
}
.event-item{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  padding: 10px 10px 5px 10px;
  margin: 12px 0px;
}
.eventName{
  margin-bottom: 5px;
}
.eventSubType{
  font-size: small;
  color: grey;
  margin-bottom: 3px;
}
.eventSubType div{
  display: inline-block;
}
.eventDuration{
  border-right: 1px solid silver;
  padding-right: 5px;
  margin-right: 5px;
}
.btn-copy{
  padding: 3px 10px;
  border: 1px solid #03A9F4;
  background-color: #03A9F4;
  color: white;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  margin-top: -4px;
  vertical-align: middle;
}
.btn-copy:hover{
  cursor: pointer;
  background-color: #0091EA;
}
.eventLink .input-form{
  background-color: white;
  border: 1px dotted silver;
  font-size: 14px;
  padding: 2px 3px;
  color: silver;
}
.event-item{
  border-radius: 3px;
  border-top: 3px solid;
}
.eventDuration .material-icons{
    float: left;
    font-size: 16px;
    margin-right: 2px;
    color: green;
}